In [1]:
import pandas as pd
import numpy as np

X -> ( no of datapoint, no of feature)
center -> (1, no of feature)

In [2]:
dataset = pd.read_csv("../Dataset/Mall_Customers.csv")

In [3]:
dataset

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [4]:
np.random.seed(41)
np.random.rand(4, 2)

array([[0.25092362, 0.04609582],
       [0.67681624, 0.04346949],
       [0.1164237 , 0.60386569],
       [0.19093066, 0.66851572]])

In [5]:
X = dataset[['Age','Annual Income (k$)','Spending Score (1-100)']].values

In [6]:
from sklearn.preprocessing import StandardScaler

In [7]:
X_scaler = StandardScaler()
X_scaled = X_scaler.fit_transform(X)

In [83]:
X_scaled[:, 0]

array([-1.42456879, -1.28103541, -1.3528021 , -1.13750203, -0.56336851,
       -1.20926872, -0.27630176, -1.13750203,  1.80493225, -0.6351352 ,
        2.02023231, -0.27630176,  1.37433211, -1.06573534, -0.13276838,
       -1.20926872, -0.27630176, -1.3528021 ,  0.94373197, -0.27630176,
       -0.27630176, -0.99396865,  0.51313183, -0.56336851,  1.08726535,
       -0.70690189,  0.44136514, -0.27630176,  0.08253169, -1.13750203,
        1.51786549, -1.28103541,  1.01549866, -1.49633548,  0.7284319 ,
       -1.28103541,  0.22606507, -0.6351352 , -0.20453507, -1.3528021 ,
        1.87669894, -1.06573534,  0.65666521, -0.56336851,  0.7284319 ,
       -1.06573534,  0.80019859, -0.85043527, -0.70690189, -0.56336851,
        0.7284319 , -0.41983513, -0.56336851,  1.4460988 ,  0.80019859,
        0.58489852,  0.87196528,  2.16376569, -0.85043527,  1.01549866,
        2.23553238, -1.42456879,  2.02023231,  1.08726535,  1.73316556,
       -1.49633548,  0.29783176,  2.091999  , -1.42456879, -0.49160182,
        2.23553238,  0.58489852,  1.51786549,  1.51786549,  1.4460988 ,
       -0.92220196,  0.44136514,  0.08253169, -1.13750203,  0.7284319 ,
        1.30256542, -0.06100169,  2.02023231,  0.51313183, -1.28103541,
        0.65666521,  1.15903204, -1.20926872, -0.34806844,  0.80019859,
        2.091999  , -1.49633548,  0.65666521,  0.08253169, -0.49160182,
       -1.06573534,  0.58489852, -0.85043527,  0.65666521, -1.3528021 ,
       -1.13750203,  0.7284319 ,  2.02023231, -0.92220196,  0.7284319 ,
       -1.28103541,  1.94846562,  1.08726535,  2.091999  ,  1.94846562,
        1.87669894, -1.42456879, -0.06100169, -1.42456879, -1.49633548,
       -1.42456879,  1.73316556,  0.7284319 ,  0.87196528,  0.80019859,
       -0.85043527, -0.06100169,  0.08253169,  0.010765  , -1.13750203,
       -0.56336851,  0.29783176,  0.08253169,  1.4460988 , -0.06100169,
        0.58489852,  0.010765  , -0.99396865, -0.56336851, -1.3528021 ,
       -0.70690189,  0.36959845, -0.49160182, -1.42456879, -0.27630176,
        1.30256542, -0.49160182, -0.77866858, -0.49160182, -0.99396865,
       -0.77866858,  0.65666521, -0.49160182, -0.34806844, -0.34806844,
        0.29783176,  0.010765  ,  0.36959845, -0.06100169,  0.58489852,
       -0.85043527, -0.13276838, -0.6351352 , -0.34806844, -0.6351352 ,
        1.23079873, -0.70690189, -1.42456879, -0.56336851,  0.80019859,
       -0.20453507,  0.22606507, -0.41983513, -0.20453507, -0.49160182,
        0.08253169, -0.77866858, -0.20453507, -0.20453507,  0.94373197,
       -0.6351352 ,  1.37433211, -0.85043527,  1.4460988 , -0.27630176,
       -0.13276838, -0.49160182,  0.51313183, -0.70690189,  0.15429838,
       -0.6351352 ,  1.08726535, -0.77866858,  0.15429838, -0.20453507,
       -0.34806844, -0.49160182, -0.41983513, -0.06100169,  0.58489852,
       -0.27630176,  0.44136514, -0.49160182, -0.49160182, -0.6351352 ])

In [137]:
def kmeans(dataset, k):
    np.random.seed(42)
    centers = np.random.rand(k, dataset.shape[1]) # k centers
    clusters = np.zeros(dataset.shape[0]) # center for each data point 
    clusters_old = np.zeros(dataset.shape[0])
    for i in range(dataset.shape[0]):
        min_distance = float('inf')
        for c in range(k):
            distance = np.linalg.norm(dataset[i]- centers[c])
            if distance < min_distance:
                min_distance = distance
                clusters[i] = c
    
    while not np.array_equal(clusters, clusters_old):
        clusters_old = clusters.copy()
        for i in range(dataset.shape[0]):
            
            min_distance = float('inf')
            for c in range(k):
                distance = np.linalg.norm(dataset[i]-centers[c])
                if distance < min_distance:
                    min_distance = distance
                    clusters[i] = c
        for k in range(k):
            for c in range(dataset.shape[0]):
                if clusters[c] == k:
                    centers[k] += dataset[c]
            centers[k] /= dataset.shape[0]
    print("Clusters:", clusters)
    print("Clusters_old:", clusters_old)
    print("Centers:", centers)
        
    return clusters

In [95]:
y = kmeans(dataset=X_scaled, k=6)

Clusters: [5. 5. 1. 5. 1. 5. 1. 3. 4. 5. 4. 3. 4. 5. 1. 5. 1. 5. 1. 3. 1. 5. 1. 5.
 1. 3. 1. 5. 1. 5. 4. 5. 1. 5. 1. 5. 1. 5. 1. 5. 4. 5. 1. 5. 1. 5. 1. 5.
 5. 5. 1. 5. 5. 4. 1. 1. 1. 4. 5. 4. 4. 5. 4. 4. 4. 5. 1. 4. 5. 5. 4. 1.
 4. 4. 4. 5. 1. 1. 5. 1. 4. 5. 4. 1. 5. 1. 4. 5. 5. 1. 4. 5. 1. 1. 5. 5.
 1. 5. 1. 5. 5. 1. 4. 5. 1. 5. 4. 4. 4. 4. 4. 5. 1. 5. 5. 5. 4. 4. 4. 4.
 5. 1. 5. 3. 5. 5. 1. 3. 4. 5. 1. 5. 5. 2. 1. 2. 1. 2. 5. 2. 4. 2. 2. 2.
 1. 2. 1. 2. 1. 2. 1. 0. 1. 2. 1. 2. 1. 2. 1. 2. 4. 2. 2. 2. 4. 2. 1. 2.
 2. 2. 1. 2. 1. 0. 4. 2. 4. 2. 4. 2. 2. 2. 1. 2. 2. 2. 4. 2. 2. 0. 2. 2.
 2. 0. 2. 0. 0. 2. 2. 2.]
Clusters_old: [5. 5. 1. 5. 1. 5. 1. 3. 4. 5. 4. 3. 4. 5. 1. 5. 1. 5. 1. 3. 1. 5. 1. 5.
 1. 3. 1. 5. 1. 5. 4. 5. 1. 5. 1. 5. 1. 5. 1. 5. 4. 5. 1. 5. 1. 5. 1. 5.
 5. 5. 1. 5. 5. 4. 1. 1. 1. 4. 5. 4. 4. 5. 4. 4. 4. 5. 1. 4. 5. 5. 4. 1.
 4. 4. 4. 5. 1. 1. 5. 1. 4. 5. 4. 1. 5. 1. 4. 5. 5. 1. 4. 5. 1. 1. 5. 5.
 1. 5. 1. 5. 5. 1. 4. 5. 1. 5. 4. 4. 4. 4. 4. 5. 1. 5. 5. 5. 4. 4. 4. 4.
 5. 1. 5. 3. 5. 5. 1. 3. 4. 5. 1. 5. 5. 2. 1. 2. 1. 2. 5. 2. 4. 2. 2. 2.
 1. 2. 1. 2. 1. 2. 1. 0. 1. 2. 1. 2. 1. 2. 1. 2. 4. 2. 2. 2. 4. 2. 1. 2.
 2. 2. 1. 2. 1. 0. 4. 2. 4. 2. 4. 2. 2. 2. 1. 2. 2. 2. 4. 2. 2. 0. 2. 2.
 2. 0. 2. 0. 0. 2. 2. 2.]
Centers: [[ 0.00040148  0.05506851  0.03506661]
 [ 0.07874303 -0.0765588  -0.21716427]
 [-0.0941366   0.22879766  0.12377945]
 [-0.00797819 -0.02573015  0.05489054]
 [ 0.30624615 -0.02161858 -0.07941268]
 [-0.26949986 -0.14740827  0.09866832]]

In [97]:
from sklearn.cluster import KMeans

In [105]:
model = KMeans(n_clusters=6, random_state=42,init="random")
model.fit(X_scaled)

y_pred = model.predict(X_scaled)

print(y_pred, y, sep='\n\n')

[5 5 0 5 0 5 0 5 0 5 0 5 0 5 0 5 0 5 0 5 0 5 0 5 0 5 0 5 0 5 0 5 0 5 0 5 0
 5 0 5 4 5 0 3 0 5 4 3 3 3 4 3 3 4 4 4 4 4 3 4 4 3 4 4 4 3 4 4 3 3 4 4 4 4
 4 3 4 3 3 4 4 3 4 4 3 4 4 3 3 4 4 3 4 3 3 3 4 3 4 3 3 4 4 3 4 3 4 4 4 4 4
 3 3 3 3 3 4 4 4 4 3 3 3 2 3 2 1 2 1 2 1 2 3 2 1 2 1 2 1 2 1 2 3 2 1 2 1 2
 1 2 1 2 1 2 1 2 1 2 1 2 4 2 1 2 1 2 1 2 1 2 1 2 1 2 1 2 1 2 1 2 1 2 1 2 1
 2 1 2 1 2 1 2 1 2 1 2 1 2 1 2]

[5. 5. 1. 5. 1. 5. 1. 3. 4. 5. 4. 3. 4. 5. 1. 5. 1. 5. 1. 3. 1. 5. 1. 5.
 1. 3. 1. 5. 1. 5. 4. 5. 1. 5. 1. 5. 1. 5. 1. 5. 4. 5. 1. 5. 1. 5. 1. 5.
 5. 5. 1. 5. 5. 4. 1. 1. 1. 4. 5. 4. 4. 5. 4. 4. 4. 5. 1. 4. 5. 5. 4. 1.
 4. 4. 4. 5. 1. 1. 5. 1. 4. 5. 4. 1. 5. 1. 4. 5. 5. 1. 4. 5. 1. 1. 5. 5.
 1. 5. 1. 5. 5. 1. 4. 5. 1. 5. 4. 4. 4. 4. 4. 5. 1. 5. 5. 5. 4. 4. 4. 4.
 5. 1. 5. 3. 5. 5. 1. 3. 4. 5. 1. 5. 5. 2. 1. 2. 1. 2. 5. 2. 4. 2. 2. 2.
 1. 2. 1. 2. 1. 2. 1. 0. 1. 2. 1. 2. 1. 2. 1. 2. 4. 2. 2. 2. 4. 2. 1. 2.
 2. 2. 1. 2. 1. 0. 4. 2. 4. 2. 4. 2. 2. 2. 1. 2. 2. 2. 4. 2. 2. 0. 2. 2.
 2. 0. 2. 0. 0. 2. 2. 2.]

each data points iterate
    each cluster iterate
        min_distance initialize
        distance calculate
            compare
                assign
    each datapoint now has cluster center
    data point with same cluster -> means
    end
end

# iter-2

In [ ]:
    def kmeans2(dataset, k, max_iterations=300):
        # 1. Initialize centers by selecting k random points from the dataset
        np.random.seed(42)
        indices = np.random.choice(len(dataset), k, replace=False)
        centers = dataset[indices]
        
        clusters = np.zeros(len(dataset))
        clusters_old = None
        iteration = 0
        
        while not np.array_equal(clusters, clusters_old) and iteration < max_iterations:
            clusters_old = clusters.copy()
            
            # 2. Assign points to nearest center
            for i, point in enumerate(dataset):
                distances = np.linalg.norm(point - centers, axis=1)
                clusters[i] = np.argmin(distances)
            
            # 3. Update centers
            for j in range(k):
                if np.any(clusters == j):  # Check if cluster has points
                    centers[j] = np.mean(dataset[clusters == j], axis=0)
            
            iteration += 1
        
        return clusters, centers

In [138]:
y = kmeans(dataset=X_scaled, k=6)

Clusters: [5. 5. 1. 5. 1. 5. 1. 3. 4. 5. 4. 3. 4. 5. 1. 5. 1. 5. 1. 3. 1. 5. 1. 5.
 1. 3. 1. 5. 1. 5. 4. 5. 1. 5. 1. 5. 1. 5. 1. 5. 4. 5. 1. 5. 1. 5. 1. 5.
 5. 5. 1. 5. 5. 4. 1. 1. 1. 4. 5. 4. 4. 5. 4. 4. 4. 5. 1. 4. 5. 5. 4. 1.
 4. 4. 4. 5. 1. 1. 5. 1. 4. 5. 4. 1. 5. 1. 4. 5. 5. 1. 4. 5. 1. 1. 5. 5.
 1. 5. 1. 5. 5. 1. 4. 5. 1. 5. 4. 4. 4. 4. 4. 5. 1. 5. 5. 5. 4. 4. 4. 4.
 5. 1. 5. 3. 5. 5. 1. 3. 4. 5. 1. 5. 5. 2. 1. 2. 1. 2. 5. 2. 4. 2. 2. 2.
 1. 2. 1. 2. 1. 2. 1. 0. 1. 2. 1. 2. 1. 2. 1. 2. 4. 2. 2. 2. 4. 2. 1. 2.
 2. 2. 1. 2. 1. 0. 4. 2. 4. 2. 4. 2. 2. 2. 1. 2. 2. 2. 4. 2. 2. 0. 2. 2.
 2. 0. 2. 0. 0. 2. 2. 2.]
Clusters_old: [5. 5. 1. 5. 1. 5. 1. 3. 4. 5. 4. 3. 4. 5. 1. 5. 1. 5. 1. 3. 1. 5. 1. 5.
 1. 3. 1. 5. 1. 5. 4. 5. 1. 5. 1. 5. 1. 5. 1. 5. 4. 5. 1. 5. 1. 5. 1. 5.
 5. 5. 1. 5. 5. 4. 1. 1. 1. 4. 5. 4. 4. 5. 4. 4. 4. 5. 1. 4. 5. 5. 4. 1.
 4. 4. 4. 5. 1. 1. 5. 1. 4. 5. 4. 1. 5. 1. 4. 5. 5. 1. 4. 5. 1. 1. 5. 5.
 1. 5. 1. 5. 5. 1. 4. 5. 1. 5. 4. 4. 4. 4. 4. 5. 1. 5. 5. 5. 4. 4. 4. 4.
 5. 1. 5. 3. 5. 5. 1. 3. 4. 5. 1. 5. 5. 2. 1. 2. 1. 2. 5. 2. 4. 2. 2. 2.
 1. 2. 1. 2. 1. 2. 1. 0. 1. 2. 1. 2. 1. 2. 1. 2. 4. 2. 2. 2. 4. 2. 1. 2.
 2. 2. 1. 2. 1. 0. 4. 2. 4. 2. 4. 2. 2. 2. 1. 2. 2. 2. 4. 2. 2. 0. 2. 2.
 2. 0. 2. 0. 0. 2. 2. 2.]
Centers: [[ 0.00040148  0.05506851  0.03506661]
 [ 0.07874303 -0.0765588  -0.21716427]
 [-0.0941366   0.22879766  0.12377945]
 [-0.00797819 -0.02573015  0.05489054]
 [ 0.30624615 -0.02161858 -0.07941268]
 [-0.26949986 -0.14740827  0.09866832]]

In [139]:
y

array([5., 5., 1., 5., 1., 5., 1., 3., 4., 5., 4., 3., 4., 5., 1., 5., 1.,
       5., 1., 3., 1., 5., 1., 5., 1., 3., 1., 5., 1., 5., 4., 5., 1., 5.,
       1., 5., 1., 5., 1., 5., 4., 5., 1., 5., 1., 5., 1., 5., 5., 5., 1.,
       5., 5., 4., 1., 1., 1., 4., 5., 4., 4., 5., 4., 4., 4., 5., 1., 4.,
       5., 5., 4., 1., 4., 4., 4., 5., 1., 1., 5., 1., 4., 5., 4., 1., 5.,
       1., 4., 5., 5., 1., 4., 5., 1., 1., 5., 5., 1., 5., 1., 5., 5., 1.,
       4., 5., 1., 5., 4., 4., 4., 4., 4., 5., 1., 5., 5., 5., 4., 4., 4.,
       4., 5., 1., 5., 3., 5., 5., 1., 3., 4., 5., 1., 5., 5., 2., 1., 2.,
       1., 2., 5., 2., 4., 2., 2., 2., 1., 2., 1., 2., 1., 2., 1., 0., 1.,
       2., 1., 2., 1., 2., 1., 2., 4., 2., 2., 2., 4., 2., 1., 2., 2., 2.,
       1., 2., 1., 0., 4., 2., 4., 2., 4., 2., 2., 2., 1., 2., 2., 2., 4.,
       2., 2., 0., 2., 2., 2., 0., 2., 0., 0., 2., 2., 2.])

In [144]:
model = KMeans(n_clusters=6, random_state=42)
model.fit(X_scaled)

y_pred = model.predict(X_scaled)

In [141]:
import numpy as np

def kmeans(dataset, k):
    """
    Performs k-means clustering on the given dataset.
    """
    np.random.seed(42)
    # 1. Initialize centers randomly from the data points for better results
    random_indices = np.random.choice(dataset.shape[0], size=k, replace=False)
    centers = dataset[random_indices]
    
    clusters_old = np.zeros(dataset.shape[0])
    
    # Loop until the assignments stop changing
    while True:
        # 2. Assign each data point to the closest center (Assignment Step)
        distances = np.linalg.norm(dataset[:, np.newaxis] - centers, axis=2)
        clusters = np.argmin(distances, axis=1)
        
        # 3. Check for convergence
        if np.array_equal(clusters, clusters_old):
            break
            
        clusters_old = clusters.copy()
        
        # 4. Update centers to be the mean of their assigned points (Update Step)
        new_centers = np.zeros((k, dataset.shape[1]))
        for c_idx in range(k):
            # Get all points assigned to this cluster
            points_in_cluster = dataset[clusters == c_idx]
            
            # If a cluster is not empty, calculate its new center
            if len(points_in_cluster) > 0:
                new_centers[c_idx] = np.mean(points_in_cluster, axis=0)
        
        centers = new_centers
        
    return clusters, centers

In [142]:
y, centers = kmeans(dataset=X_scaled, k=6)

In [146]:
print(y_pred, y, sep='\n\n')

[2 2 5 2 5 2 5 2 5 2 5 2 5 2 5 2 5 2 5 2 5 2 5 2 5 2 5 2 5 2 5 2 5 2 5 2 5
 2 5 2 0 2 5 2 5 2 0 3 3 3 0 2 3 0 0 0 0 0 3 0 0 3 0 0 0 3 0 0 3 3 0 0 0 0
 0 3 0 3 3 0 0 3 0 0 3 0 0 3 3 0 0 3 0 3 3 3 0 3 0 3 3 0 0 3 0 3 0 0 0 0 0
 3 3 3 3 3 0 0 0 0 3 3 3 1 3 1 4 1 4 1 4 1 3 1 3 1 4 1 3 1 4 1 3 1 3 1 4 1
 4 1 4 1 4 1 4 1 4 1 4 1 0 1 3 1 4 1 4 1 4 1 4 1 4 1 4 1 4 1 4 1 4 1 4 1 4
 1 4 1 4 1 4 1 4 1 4 1 4 1 4 1]

[1 1 2 1 2 1 2 1 2 1 2 1 2 1 2 1 2 1 2 1 2 1 2 1 2 1 2 1 2 1 2 1 2 1 2 1 2
 1 2 1 4 1 2 1 2 1 4 5 5 5 4 5 5 4 4 4 4 4 5 4 4 5 4 4 4 5 4 4 5 5 4 4 4 4
 4 5 4 5 5 4 4 5 4 4 5 4 4 5 5 4 4 5 4 5 5 5 4 5 4 5 5 4 4 5 4 5 4 4 4 4 4
 5 5 5 5 5 4 4 4 4 5 5 5 0 5 0 3 0 3 0 3 0 5 0 3 0 3 0 5 0 3 0 5 0 3 0 3 0
 3 0 3 0 3 0 3 0 3 0 3 0 4 0 3 0 3 0 3 0 3 0 3 0 3 0 3 0 3 0 3 0 3 0 3 0 3
 0 3 0 3 0 3 0 3 0 3 0 3 0 3 0]

# KMeans++

In [151]:
np.min([1,2,3,4,5], axis=0)

np.int64(1)

In [135]:
def kmeansplusplus_custom(dataset, k):
    """
    1. Initialize the first center randomly from the data points
    2. For each remaining center:
        - Calculate the distance from each data point to the nearest center
        - Choose the next center with probability proportional to the squared distance
    3. Repeat steps 2-3 until k centers are selected
    4. Initialize the clusters
    5. Repeat steps 6-7 until convergence:
        - Assign each data point to the nearest center
        - Update the centers to be the mean of their assigned points
    """
    # Initialize the first center index randomly from the data points
    np.random.seed(42)
    random_index = np.random.choice(dataset.shape[0])
    # Access the data point at the random index as first center
    first_center = dataset[random_index]
    # initialize the list of distances from each data point to the respective center
    distances_list = []
    # Centers list initilize with first center
    centers = [first_center]
    
    
    for _ in range(k-1):
        distances = np.linalg.norm(dataset[:, np.newaxis] - centers[-1], axis=2)
        distances_list.append(distances)
        scores = np.min(distances_list, axis=0)
        scores = scores**2
        probabilities = scores / scores.sum()
        index = np.argmax(probabilities)
        centers.append(dataset[index])
    
    clusters_old = np.zeros(dataset.shape[0])
    
    # Loop until the assignments stop changing
    while True:
        # 2. Assign each data point to the closest center (Assignment Step)
        distances = np.linalg.norm(dataset[:, np.newaxis] - centers, axis=2)
        clusters = np.argmin(distances, axis=1)
        
        # 3. Check for convergence
        if np.array_equal(clusters, clusters_old):
            break
            
        clusters_old = clusters.copy()
        
        # 4. Update centers to be the mean of their assigned points (Update Step)
        new_centers = np.zeros((k, dataset.shape[1]))
        for c_idx in range(k):
            # Get all points assigned to this cluster
            points_in_cluster = dataset[clusters == c_idx]
            
            # If a cluster is not empty, calculate its new center
            if len(points_in_cluster) > 0:
                new_centers[c_idx] = np.mean(points_in_cluster, axis=0)
        
        centers = new_centers

    return centers, clusters

In [119]:
def kmeansplusplus(dataset, k):
    np.random.seed(42)
    # 1. Initialize the first center randomly
    centers = [dataset[np.random.choice(dataset.shape[0])]]
    
    # 2. Initialize remaining centers using k-means++ logic
    for _ in range(1, k):
        # Calculate squared distances to nearest center for each point
        distances = np.array([min([np.linalg.norm(x - c) ** 2 for c in centers]) 
                            for x in dataset])
        
        # Convert distances to probabilities
        probabilities = distances / distances.sum()
        
        # Choose next center with probability proportional to distance squared
        next_center_idx = np.random.choice(len(dataset), p=probabilities)
        centers.append(dataset[next_center_idx])
    
    centers = np.array(centers)
    clusters_old = np.zeros(dataset.shape[0])
    
    # Main k-means loop
    while True:
        # Assignment step
        distances = np.linalg.norm(dataset[:, np.newaxis] - centers, axis=2)
        clusters = np.argmin(distances, axis=1)
        
        # Check for convergence
        if np.array_equal(clusters, clusters_old):
            break
            
        clusters_old = clusters.copy()
        
        # Update step
        new_centers = np.zeros((k, dataset.shape[1]))
        for c_idx in range(k):
            points_in_cluster = dataset[clusters == c_idx]
            if len(points_in_cluster) > 0:
                new_centers[c_idx] = np.mean(points_in_cluster, axis=0)
            else:
                # Handle empty clusters by reinitializing randomly
                new_centers[c_idx] = dataset[np.random.choice(dataset.shape[0])]
        
        centers = new_centers

    return centers, clusters

In [140]:
centers_custom, clusters_custom = kmeansplusplus_custom(dataset=X_scaled, k=6)
print(clusters_custom)
print(centers_custom)
centers, clusters = kmeansplusplus(dataset=X_scaled, k=6)
print(clusters)
print(centers)

[3 3 5 3 5 3 5 3 5 3 5 3 5 3 5 3 5 3 5 3 5 3 5 3 5 3 5 3 5 3 5 3 5 3 5 3 5
 3 5 3 0 3 5 1 5 3 0 1 1 1 0 1 1 0 0 0 0 0 1 0 0 1 0 0 0 1 0 0 1 1 0 0 0 0
 0 1 0 1 1 0 0 1 0 0 1 0 0 1 1 0 0 1 0 1 1 1 0 1 0 1 1 0 0 1 0 1 0 0 0 0 0
 1 1 1 1 1 0 0 0 0 1 1 1 4 1 4 2 4 2 4 2 4 1 4 2 4 2 4 1 4 2 4 1 4 2 4 2 4
 2 4 2 4 2 4 2 4 2 4 2 4 0 4 2 4 2 4 2 4 2 4 2 4 2 4 2 4 2 4 2 4 2 4 2 4 2
 4 2 4 2 4 2 4 2 4 2 4 2 4 2 4]
[[ 1.25472096 -0.24021294 -0.04399777]
 [-0.86515664 -0.13196835 -0.08043031]
 [ 0.22171558  1.08322527 -1.29005223]
 [-0.99396865 -1.34734766  1.06404834]
 [-0.44191719  0.99158305  1.23950275]
 [ 0.47895722 -1.30822992 -1.19644353]]
[2 2 5 2 5 2 5 2 5 2 5 2 5 2 5 2 5 2 5 2 5 2 5 2 5 2 5 2 5 2 5 2 5 2 5 2 5
 2 5 2 0 2 5 2 5 2 0 4 4 4 0 4 4 0 0 0 0 0 4 0 0 4 0 0 0 4 0 0 4 4 0 0 0 0
 0 4 0 4 4 0 0 4 0 0 4 0 0 4 4 0 0 4 0 4 4 4 0 4 0 4 4 0 0 4 0 4 0 0 0 0 0
 4 4 4 4 4 0 0 0 0 4 4 4 1 4 1 3 1 3 1 3 1 4 1 3 1 3 1 4 1 3 1 4 1 3 1 3 1
 3 1 3 1 3 1 3 1 3 1 3 1 0 1 3 1 3 1 3 1 3 1 3 1 3 1 3 1 3 1 3 1 3 1 3 1 3
 1 3 1 3 1 3 1 3 1 3 1 3 1 3 1]
[[ 1.25472096 -0.24021294 -0.04399777]
 [-0.44191719  0.99158305  1.23950275]
 [-0.97602698 -1.32549704  1.0371827 ]
 [ 0.22171558  1.08322527 -1.29005223]
 [-0.87309844 -0.11378508 -0.09358039]
 [ 0.47895722 -1.30822992 -1.19644353]]

In [141]:
cluster_0 = dataset[clusters_custom==0]
cluster_1 = dataset[clusters_custom==1]
cluster_2 = dataset[clusters_custom==2]
cluster_3 = dataset[clusters_custom==3]
cluster_4 = dataset[clusters_custom==4]
cluster_5 = dataset[clusters_custom==5]

In [142]:
cluster_0

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
40           41  Female   65                  38                      35
46           47  Female   50                  40                      55
50           51  Female   49                  42                      52
53           54    Male   59                  43                      60
54           55  Female   50                  43                      45
55           56    Male   47                  43                      41
56           57  Female   51                  44                      50
57           58    Male   69                  44                      46
59           60    Male   53                  46                      46
60           61    Male   70                  46                      56
62           63  Female   67                  47                      52
63           64  Female   54                  47                      59
64           65    Male   63                  48                      51
66           67  Female   43                  48                      50
67           68  Female   68                  48                      48
70           71    Male   70                  49                      55
71           72  Female   47                  49                      42
72           73  Female   60                  50                      49
73           74  Female   60                  50                      56
74           75    Male   59                  54                      47
76           77  Female   45                  54                      53
79           80  Female   49                  54                      42
80           81    Male   57                  54                      51
82           83    Male   67                  54                      41
83           84  Female   46                  54                      44
85           86    Male   48                  54                      46
86           87  Female   55                  57                      58
89           90  Female   50                  58                      46
90           91  Female   68                  59                      55
92           93    Male   48                  60                      49
96           97  Female   47                  60                      47
98           99    Male   48                  61                      42
101         102  Female   49                  62                      48
102         103    Male   67                  62                      59
104         105    Male   49                  62                      56
106         107  Female   66                  63                      50
107         108    Male   54                  63                      46
108         109    Male   68                  63                      43
109         110    Male   66                  63                      48
110         111    Male   65                  63                      52
116         117  Female   63                  65                      43
117         118  Female   49                  65                      59
118         119  Female   51                  67                      43
119         120  Female   50                  67                      57
160         161  Female   56                  79                      35

In [143]:
cluster_1

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
43           44  Female   31                  39                      61
47           48  Female   27                  40                      47
48           49  Female   29                  40                      42
49           50  Female   31                  40                      42
51           52    Male   33                  42                      60
52           53  Female   31                  43                      54
58           59  Female   27                  46                      51
61           62    Male   19                  46                      55
65           66    Male   18                  48                      59
68           69    Male   19                  48                      59
69           70  Female   32                  48                      47
75           76    Male   26                  54                      54
77           78    Male   40                  54                      48
78           79  Female   23                  54                      52
81           82    Male   38                  54                      55
84           85  Female   21                  54                      57
87           88  Female   22                  57                      55
88           89  Female   34                  58                      60
91           92    Male   18                  59                      41
93           94  Female   40                  60                      40
94           95  Female   32                  60                      42
95           96    Male   24                  60                      52
97           98  Female   27                  60                      50
99          100    Male   20                  61                      49
100         101  Female   23                  62                      41
103         104    Male   26                  62                      55
105         106  Female   21                  62                      42
111         112  Female   19                  63                      54
112         113  Female   38                  64                      42
113         114    Male   19                  64                      46
114         115  Female   18                  65                      48
115         116  Female   19                  65                      50
120         121    Male   27                  67                      56
121         122  Female   38                  67                      40
122         123  Female   40                  69                      58
124         125  Female   23                  70                      29
132         133  Female   25                  72                      34
138         139    Male   19                  74                      10
142         143  Female   28                  76                      40

In [144]:
cluster_2

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
126         127    Male   43                  71                      35
128         129    Male   59                  71                      11
130         131    Male   47                  71                       9
134         135    Male   20                  73                       5
136         137  Female   44                  73                       7
140         141  Female   57                  75                       5
144         145    Male   25                  77                      12
146         147    Male   48                  77                      36
148         149  Female   34                  78                      22
150         151    Male   43                  78                      17
152         153  Female   44                  78                      20
154         155  Female   47                  78                      16
156         157    Male   37                  78                       1
158         159    Male   34                  78                       1
162         163    Male   19                  81                       5
164         165    Male   50                  85                      26
166         167    Male   42                  86                      20
168         169  Female   36                  87                      27
170         171    Male   40                  87                      13
172         173    Male   36                  87                      10
174         175  Female   52                  88                      13
176         177    Male   58                  88                      15
178         179    Male   59                  93                      14
180         181  Female   37                  97                      32
182         183    Male   46                  98                      15
184         185  Female   41                  99                      39
186         187  Female   54                 101                      24
188         189  Female   41                 103                      17
190         191  Female   34                 103                      23
192         193    Male   33                 113                       8
194         195  Female   47                 120                      16
196         197  Female   45                 126                      28
198         199    Male   32                 137                      18

In [149]:
from sklearn.cluster import KMeans

model = KMeans(n_clusters=6, random_state=42, init="k-means++")
kmean_model = model.fit(X_scaled)
print(kmean_model.cluster_centers_)
print(kmean_model.labels_)

[[ 1.25472096 -0.24021294 -0.04399777]
 [-0.44191719  0.99158305  1.23950275]
 [-0.95377931 -1.30081415  1.01091344]
 [-0.91323113 -0.0433223  -0.22322397]
 [ 0.36959845  1.12879725 -1.25264236]
 [ 0.47895722 -1.30822992 -1.19644353]]
[2 2 5 2 5 2 5 2 5 2 5 2 5 2 5 2 5 2 5 2 5 2 5 2 5 2 5 2 5 2 5 2 5 2 5 2 5
 2 5 2 0 2 5 2 5 2 0 3 3 3 0 2 3 0 0 0 0 0 3 0 0 3 0 0 0 3 0 0 3 3 0 0 0 0
 0 3 0 3 3 0 0 3 0 0 3 0 0 3 3 0 0 3 0 3 3 3 0 3 0 3 3 0 0 3 0 3 0 0 0 0 0
 3 3 3 3 3 0 0 0 0 3 3 3 1 3 1 4 1 4 1 4 1 3 1 3 1 4 1 3 1 4 1 3 1 3 1 4 1
 4 1 4 1 4 1 4 1 4 1 4 1 0 1 3 1 4 1 4 1 4 1 4 1 4 1 4 1 4 1 4 1 4 1 4 1 4
 1 4 1 4 1 4 1 4 1 4 1 4 1 4 1]

# evaluating for finding similarities between our code and sklearn kmeans

In [146]:
from sklearn.metrics import silhouette_score, calinski_harabasz_score, davies_bouldin_score
from sklearn.cluster import KMeans
import numpy as np

def evaluate_clustering(X, k, custom_centers, custom_labels, random_state=42):
    """
    Evaluate and compare custom k-means++ implementation with scikit-learn's implementation.
    
    Parameters:
    - X: Input data (numpy array)
    - k: Number of clusters
    - custom_centers: Cluster centers from your implementation
    - custom_labels: Cluster assignments from your implementation
    - random_state: Random seed for reproducibility
    
    Returns:
    - Dictionary containing evaluation metrics for both implementations
    """
    results = {}
    
    # Calculate metrics for custom implementation
    if len(np.unique(custom_labels)) > 1:  # Silhouette score requires more than 1 cluster
        results['custom'] = {
            'inertia': np.sum([np.sum((X[custom_labels == i] - custom_centers[i])**2) 
                             for i in range(k)]),
            'silhouette': silhouette_score(X, custom_labels),
            'calinski_harabasz': calinski_harabasz_score(X, custom_labels),
            'davies_bouldin': davies_bouldin_score(X, custom_labels)
        }
    else:
        results['custom'] = {
            'inertia': np.sum([np.sum((X[custom_labels == i] - custom_centers[i])**2) 
                             for i in range(k)]),
            'silhouette': None,
            'calinski_harabasz': None,
            'davies_bouldin': None
        }
    
    # Run scikit-learn's KMeans for comparison
    kmeans_sklearn = KMeans(n_clusters=k, init='k-means++', n_init=10, 
                           random_state=random_state)
    sklearn_labels = kmeans_sklearn.fit_predict(X)
    
    results['sklearn'] = {
        'inertia': kmeans_sklearn.inertia_,
        'silhouette': silhouette_score(X, sklearn_labels),
        'calinski_harabasz': calinski_harabasz_score(X, sklearn_labels),
        'davies_bouldin': davies_bouldin_score(X, sklearn_labels)
    }
    
    return results

def print_evaluation_results(results):
    """Helper function to print evaluation results in a readable format."""
    print("Clustering Evaluation Results")
    print("=" * 50)
    
    for model, metrics in results.items():
        print(f"\n{model.upper()} Implementation:")
        print("-" * 30)
        for metric, value in metrics.items():
            if value is not None:
                if isinstance(value, float):
                    print(f"{metric.replace('_', ' ').title()}: {value:.4f}")
                else:
                    print(f"{metric.replace('_', ' ').title()}: {value}")
            else:
                print(f"{metric.replace('_', ' ').title()}: Not applicable (only one cluster)")

# Example usage:
# 1. First run your k-means++ implementation
centers, cluster_assignments = kmeansplusplus(X_scaled, k=6)
# 
# 2. Then evaluate both implementations
results = evaluate_clustering(X_scaled, k=6, 
                            custom_centers=centers, 
                            custom_labels=cluster_assignments)
# 
# 3. Print the results
print_evaluation_results(results)

Clustering Evaluation Results
==================================================

CUSTOM Implementation:
------------------------------
Inertia: 133.8683
Silhouette: 0.4274
Calinski Harabasz: 135.1022
Davies Bouldin: 0.8277

SKLEARN Implementation:
------------------------------
Inertia: 133.8684
Silhouette: 0.4284
Calinski Harabasz: 135.1021
Davies Bouldin: 0.8254

In [147]:
# Example usage:
# 1. First run your k-means++ implementation
centers, cluster_assignments = kmeansplusplus_custom(X_scaled, k=6)
# 
# 2. Then evaluate both implementations
results = evaluate_clustering(X_scaled, k=6, 
                            custom_centers=centers, 
                            custom_labels=cluster_assignments)
# 
# 3. Print the results
print_evaluation_results(results)

Clustering Evaluation Results
==================================================

CUSTOM Implementation:
------------------------------
Inertia: 133.8684
Silhouette: 0.4284
Calinski Harabasz: 135.1021
Davies Bouldin: 0.8254

SKLEARN Implementation:
------------------------------
Inertia: 133.8684
Silhouette: 0.4284
Calinski Harabasz: 135.1021
Davies Bouldin: 0.8254

In [102]:
X_scaled.shape

(200, 3)

In [ ]:
# [200,1] -> probability of choosing each data point as next center

In [108]:
x = [
    [1,2,3]
]

In [109]:
np.min(x,axis=0)

array([1, 2, 3])

In [113]:
a = [0.14, 0.22, 0.34]
np.argmax(a)

np.int64(2)